/* 
  p{display: inline-block;}
      img{border: 25px;
      border-radius: 10px;
      margin: 45px;
      margin-top: auto;
      width: 400px;
    }
    .images{perspective: 150rem;

    }
    .photo{position: relative;
    z-index: 10;}
    .contour{
      position: absolute;
      z-index: 1;
      top: 0;
      transform: translateZ(-2rem) translateX(-1rem) translateY(2rem);
      height: 260px;
    }
.partOne{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: 300px;
  margin-left: 25px;
  
}
.cabin{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;}
.partTwo{margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: 300px; 
margin-right: 120px;}
.teepee{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;}
  .partThree{margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: 300px;
  margin-left: 25px;}
  .fishing{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;}
  .partFour{margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: 300px;
  margin-right: 120px;}
  .archery{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
word-wrap: break-word;}
  .partFive{margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: 300px;
 margin-left: 25px;}
  .canoeing{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;}
.Rent{display: flex;
  justify-content: center;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;}
.maximum{display: flex;
justify-content: center;
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: -10px;}
#contactForm{background-color:#22472E ;
font-size: 35px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: -40px;
}
form{margin-top: -40px;
  margin-inline-start: 250px;
}

.contactForm{
  display: flex;
  justify-content: center;
}
.note{text-align: center;
  margin-top:-25px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.timeline{
  margin-top: 20px;
}
.message{margin-top: 5px;
  width: 250px;
height: 100px;}
.footer{text-align: center;}
     */